/* src/components/Card.css */
.movie-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  height: 250px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 25px;
}

.movie-card-scroll {
  /* overflow-x: scroll; */
}

.card-image {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
}

.card-content {
  font-size: 1rem;
  color: #555;
}
